<div id="container">
    <div class="container-nav">
        <div class="fixed-01">
            <a href="/projetos">Projetos</a>
        </div>
        <div class="fixed-01">
            <a href="/clientes">clientes </a>
        </div>
    </div>
</div>