<h3>Já existe esse email no nosso sistema !</h3>
<br>
<a href="/usuarios/registro"><button class="btn btn-success">Voltar</button></a>
<div class="redirect">
    <h3> Já existe esse email no nosso sistema !</h3>
    <br>
        <a href="/registro"><button class="back">Voltar</button></a>
</div>
