<section id="form">
    <h3>Faça seu login :)</h3>
    {{#each erros}}
        <div class="erros">
            <p><strong>{{texto}}</strong></p>
        </div>
    {{else}}
    {{/each}}   
    <div class="form-container">
        <div class="card-form">
            <form action="/login" method="POST">
                    <input type="text" name="email" placeholder="Digite seu email." ><br>
                    <input type="password" name="senha" placeholder="Digite sua senha."><br>
                    <button class="button-margin" type="submit">Entrar</button>
            </form>
        </div>
    </div>
</section>